In [3]:
!pip3 install --upgrade pandas

Requirement already satisfied: pandas in c:\users\administrator\anaconda3\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.23.2 in c:\users\administrator\anaconda3\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\administrator\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\administrator\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\administrator\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\administrator\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [4]:
import pandas as pd

In [5]:
df = pd.read_csv("health_checkup_data.csv")

In [7]:
print("Shape:", df.shape)

Shape: (10000, 9)

In [8]:
print("Column types:\n", df.dtypes)

Column types:
 employee_id       object
date              object
age                int64
gender            object
company           object
location          object
blood_pressure     int64
sugar_level        int64
cholesterol        int64
dtype: object

In [9]:
print("Missing values:\n", df.isnull().sum())

Missing values:
 employee_id       0
date              0
age               0
gender            0
company           0
location          0
blood_pressure    0
sugar_level       0
cholesterol       0
dtype: int64

In [10]:
print(df.head())

                            employee_id        date  age  gender    company  \
0  bdd640fb-0667-4ad1-9c80-317fa3b1799d  2022-04-13   56    Male    Infosys
1  23b8c1e9-3924-46de-beb1-3b9046685257  2023-03-12   53    Male        TCS
2  bd9c66b3-ad3c-4d6d-9a3d-1fa7bc8960a9  2022-09-28   35   Other  Accenture
3  972a8469-1641-4f82-8b9d-2434e465e150  2022-04-17   22    Male        TCS
4  17fc695a-07a0-4a6e-8822-e8f36c031199  2022-03-13   38  Female    Infosys

    location  blood_pressure  sugar_level  cholesterol
0  Hyderabad             113          141          236
1      Delhi             160          140          283
2  Hyderabad             133          134          159
3     Mumbai             103          106          253
4  Bangalore             102          147          261

In [11]:
df['date'] = pd.to_datetime(df['date'], errors='coerce')

In [12]:
df = df.drop_duplicates()

In [13]:
df['gender'] = df['gender'].str.strip().str.capitalize()

In [14]:
print("Unique genders:", df['gender'].unique())

Unique genders: ['Male' 'Other' 'Female']

In [15]:
df = df[df['age'].between(18, 100)]
df = df[df['blood_pressure'].between(80, 250)]
df = df[df['sugar_level'].between(50, 400)]
df = df[df['cholesterol'].between(100, 400)]

In [16]:
df['high_bp'] = df['blood_pressure'] > 130
df['pre_diabetic'] = (df['sugar_level'] >= 140) & (df['sugar_level'] < 200)
df['high_cholesterol'] = df['cholesterol'] > 240

In [17]:
print(df.head())

                            employee_id       date  age  gender    company  \
0  bdd640fb-0667-4ad1-9c80-317fa3b1799d 2022-04-13   56    Male    Infosys
1  23b8c1e9-3924-46de-beb1-3b9046685257 2023-03-12   53    Male        TCS
2  bd9c66b3-ad3c-4d6d-9a3d-1fa7bc8960a9 2022-09-28   35   Other  Accenture
3  972a8469-1641-4f82-8b9d-2434e465e150 2022-04-17   22    Male        TCS
4  17fc695a-07a0-4a6e-8822-e8f36c031199 2022-03-13   38  Female    Infosys

    location  blood_pressure  sugar_level  cholesterol  high_bp  pre_diabetic  \
0  Hyderabad             113          141          236    False          True
1      Delhi             160          140          283     True          True
2  Hyderabad             133          134          159     True         False
3     Mumbai             103          106          253    False         False
4  Bangalore             102          147          261    False          True

   high_cholesterol
0             False
1              True
2             False
3              True
4              True

In [18]:
df.to_csv("cleaned_health_checkup_data.csv", index=False)